body {
  width: 995px;
  float: right;
  background-color: rosybrown;
  border-radius: 20px;
  margin-bottom: 100px;
  margin-top: 2px;
  font-family : Helvetica, Arial, sans-serif;
}

h1 {

  margin-left: 5px;
  font-size: 45px;
  border-bottom-style: solid;
  border-width: 1px;
  margin-right: 300px;
  padding-bottom: 30px;
}

.jeu {
  border-style: solid;
  border-color: chartreuse;
  width: 60%;
  padding: 20px 30px 20px 30px;
  margin: auto;
  margin-bottom: 50px;

}

.bouton{
  text-align: center;
  background-color: brown;

}

.regle {
  background-color: dodgerblue;
  border-style: solid;
}

button {
  cursor: pointer;
}

.grille {
  text-align: center;
  margin-bottom: 10px;
}

.grille input {
  font-size: 25px;
  border-style: solid;
  text-align: center;
}

.grille1 {
  margin-bottom: 10px;
}

.grille2 {
  margin-bottom: 10px;
}

.grille3 {
  margin-bottom: 10px;
}

.carre1 {
  margin-right: 10px;
}

.carre2{
  margin-right: 10px;
}
