<body>
<h1>Sudoku</h1>

<!--Encadrer ou sera situé le jeu -->
<section class="jeu">

  <!--grille du sudoku-->
  <div class="grille">
  <div class="grille1">

  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre1">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre2">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2">

  <br>

  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre1">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre2">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2">

  <br>

  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre1">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre2">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2">

  <br>
  </div>

  <div class="grille2">

  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre1">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre2">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2">

  <br>

  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre1">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre2">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2">

  <br>

  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre1">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre2">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2">

  <br>
  </div>

  <div class="grille3">

  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre1">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre2">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2">

  <br>

  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre1">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre2">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2">

  <br>

  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre1">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2" class="carre2">
  <input type="text" size="2">
  <input type="text" size="2">
  <input type="text" size="2">

    <br>

  </div>
  </div>

  <div class="bouton">

  <button>JOUER</button>
    <br>
  <button>Recommencer</button>
    <br>
    <button>Nouvelle grille</button>
    <br>

  </div>


</section>

<!--Encadrer ou seront situés les règles du jeu-->
<section class="regle">
  <h2>Règle :</h2>

  <p>Seriez-vous assez malin pour vaincre notre algorithme surpuissant générant des sudoku encore mieux que le site STAM !!</p>

  <p>Pour gagner, le joueur doit remplir la grille avec des chiffres compris entre 1 et 9 en respectant les règles suivantes :</p>

  <ul>
    <li>Un chiffre ne peut être utilisé qu'une seule fois dans une ligne</li>
    <li>Un chiffre ne peut être utilisé qu'une seule fois dans une colonne</li>
    <li>Un chiffre ne peut être utilisé qu'une seule fois dans un carré</li>
  </ul>

  <h3>Commande</h3>

  <ul>
    <li>Un clique sur une case permet de pouvoir écrire dessus</li>
    <li>Le pavé numérique sert à remplir les cases</li>
  </ul>

</section>
</body>
