<body>
<h1>Sudoku</h1>

<!--Encadrer ou sera situé le jeu -->
<section id="jeu">

  <div id="bouton">

  <button>JOUER</button>
  <button>Recommencer</button>

  </div>


</section>

<!--Encadrer ou seront situés les règles du jeu-->
<section id="regle">
  <h2>Règle :</h2>

  <p>Seriez-vous assez malin pour vaincre notre algorithme surpuissant générant des sudoku encore mieux que le site STAM !!</p>

  <p>Pour gagner, le joueur doit remplir la grille avec des chiffres compris entre 1 et 9 en respectant les règles suivantes :</p>

  <ul>
    <li>Un chiffre ne peut être utilisé qu'une seule fois dans une ligne</li>
    <li>Un chiffre ne peut être utilisé qu'une seule fois dans une colonne</li>
    <li>Un chiffre ne peut être utilisé qu'une seule fois dans un carré</li>
  </ul>

  <h3>Commande</h3>

  <ul>
    <li>Un clique sur une case permet de pouvoir écrire dessus</li>
    <li>Le pavé numérique sert à remplir les cases</li>
  </ul>

</section>
</body>
