<body>

<h1>
  Accueil :
</h1>


<img  class="image" id="imgSudoku" (click)="show = !show" width="150" height="150" alt="Sudoku" src="../../assets/sudoku.png" title="Sudoku">

<br>

<div id="resumeS" class="resumer" *ngIf="show">

  <p style="color: darkred; font-size: large"><strong><em>Seriez-vous capable de résoudre nos grilles de Sudoku ?</em></strong></p>
  <br><br><br>
  <button routerLink="/Sudoku">JOUER !</button>

</div>



<img  class="image" id="imgDemineur" (click)="show1 = !show1" width="150" height="150" alt="demineur" src="../../assets/demineur.png" title="Démineur">


<div id="resumeD" class="resumer" *ngIf="show1">

  <p style="color: darkred; font-size: large"><strong><em>Seriez-vous capable de trouver toutes les bombes ?</em></strong></p>
  <br>

  <br>
  <button routerLink="/Demineur">JOUER !</button>
  <br><br><br>
  <br>
  <p>PS: si vous vous appelez Clark Kent ou que vous avez la vision à rayon X, ce jeu n'est pas fait pour vous !</p>

</div>


<div class="detail">

  <p>Plus de jeux à venir !!!!</p>
  <p>Ne vous inquiétez pas tous nos développeurs travaillent nuit et jour pour vous créer des jeux FAITS MAISON !!!</p>

  <img class="img2" width="150" alt="Attention !!" src="../../assets/attention.png" title="Attention !!">
  <p style="line-height:65px;">Fait maison certifié&trade; !</p>
</div>





</body>
