<body>
<h1>Démineur</h1>

<section class="jeu">

<!-- chronometre-->
  <app-compteur></app-compteur>

</section>

<section class="regle">
  <h2>Règle :</h2>

  <p>Une grille de 64 cases où se cachent 10 mines à vous de dévoiler les cases sans vous faire exploser !!!!</p>

  <p>Lorsque le joueur clique sur une case libre et que toutes les cases adjacentes le sont également,
    la case vide est affichée. Si en revanche au moins l'une des cases avoisinantes contient une mine,
    un chiffre apparaît, indiquant le nombre de cases adjacentes contenant une mine.
    En comparant les différentes informations récoltées, le joueur peut ainsi progresser dans le déminage du terrain.
    Si il se trompe et clique sur une mine, il a perdu. </p>

  <h3>Commande</h3>

  <ul>
    <li>Un clique pour dévoiler une case</li>
    <li>Clique droit 1 fois permet de placer un drapeau sur une case</li>
    <li>Une seconde place un point d'interrogation si vous n'êtes toujours pas sur !</li>
  </ul>

</section>
</body>
