nav {
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
  /*background-image: url("../../assets/fond_side.png");*/
  width: 20%;
  float: left;
  margin-top: 2px;
  padding-bottom: 40%;
  margin-bottom: 100px;
  color: white;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;


}

h2 {
  margin-left: 9px;

}

li:hover {
  text-decoration: underline;
  color: #0480FB;
  cursor: pointer;
}

img {
  margin-top: 120px;
}
