/* le corps de la page sera identique pour tous afin d'avoir le meme style partout */
body {
  float: right;
  background-color: #A9D0F5;
  margin-bottom: 100px;
  width: 1030px;
  margin-top: 2px;
  padding-bottom: 48%;
  font-family : Helvetica, Arial, sans-serif;
  color: black;
  border-top-right-radius: 20px ;
  border-bottom-right-radius: 20px;
}

p {
  margin-left: 5px;
}

h1 {

  margin-left: 5px;
  font-size: 45px;
  border-bottom-style: solid;
  border-width: 1px;
  margin-right: 300px;
  padding-bottom: 30px;
}

.image {
  margin-left: 100px;
  position: absolute;
  z-index: 1;
  float: left;
}

 .image:hover{
   width: 155px;
   height: 155px;
   cursor: pointer;
   border-style: solid;
   border-color: white;

 }

 .img2 {
   float:left;
 }

.resumer {
   position: relative;
   background-color: #F5BA5D;
   border-radius: 20px;
   padding: 13%;
   width: 350px;
   margin-left: 80px;
   margin-top: -20px;
 }

.resumer-block{
  position: relative;
  background-color: #F5BA5D;
  border-radius: 20px;
  padding: 13%;
  display: block;
  width: 350px;
  margin-left: 80px;
  margin-top: -20px;
}


.resumer-none{
  position: relative;
  background-color: #F5BA5D;
  border-radius: 20px;
  padding: 13%;
  display: none;
  width: 350px;
  margin-left: 80px;
  margin-top: -20px;
}

/*.image-block:hover {
  width: 150px;
  height: 150px;
  cursor: pointer;

}*/

 button {
   cursor: pointer;
   float: right;
   width: 90px;
   height: 35px;
   border-radius: 10px;
   margin-right: 100px;
   border-color: #A9D0F5;
   border-style: solid;
 }

 button:hover {
   border-color: #244F7E;
 }


 .resumer p {
   float: right;
   margin-left: 50px;
   margin-top: -90px;
 }

 .detail {
   margin-top: 200px;

 }
